@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
    <html>
    <head>
        <title>Test List</title>
    </head>
    <body>
        <h1>Daftar To Do List</h1>

    </body>
    </html>
